* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-image: -webkit-gradient(linear, left top, right top, from(#68877b), to(#2c2b2b));
  background-image: linear-gradient(to right, #68877b, #2c2b2b);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  font-size: 20px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

body, body #support_wrapper {
  min-width: 100%;
  min-height: 100vh;
}

body #country {
  text-align: center;
  margin: 20px;
  padding: 10px;
  font-weight: 900;
  font-size: 1.5rem;
}

body #years {
  position: relative;
  width: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  text-align: center;
}

body #years .yeaBtns {
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(190, 190, 190, 0.8);
  outline: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

body #years .yeaBtns:hover {
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px black;
          box-shadow: 5px 5px 15px black;
  cursor: pointer;
}

body #years #backYear {
  float: left;
  clear: left;
}

body #years #forwardYear {
  float: right;
}

body #years #chosenYear {
  font-size: 1.5rem;
  -webkit-text-stroke: 1.5px black;
  -webkit-text-fill-color: rgba(190, 190, 190, 0.8);
  margin-bottom: -25px;
  cursor: context-menu;
}

body #canvas {
  clear: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

body #canvas #btnCentering {
  text-align: center;
  position: absolute;
  width: 50%;
  height: auto;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-color: rgba(42, 43, 42, 0.5);
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

body #canvas #btnCentering .btnProperties {
  background-color: rgba(16, 15, 15, 0.364);
  color: white;
  margin: 5%;
  padding: 20px;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

body #canvas #btnCentering .btnProperties:hover {
  background-color: #6d9e9e;
  font-size: 1rem;
}

body #displayMonths {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  opacity: 0;
  background-color: rgba(42, 43, 42, 0.5);
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #displayMonths .li_Months {
  position: relative;
  margin: 10px;
  padding: 20px;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

body #months {
  display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 70%;
  color: white;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

body #months .monBtns {
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(190, 190, 190, 0.8);
  outline: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

body #months .monBtns:hover {
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px black;
          box-shadow: 5px 5px 15px black;
  cursor: pointer;
}

body #months #backMonth {
  visibility: hidden;
  margin-left: 25%;
  float: left;
  clear: left;
}

body #months #forwardMonth {
  visibility: hidden;
  margin-right: 25%;
  float: right;
  clear: right;
}

body #months #chosenMonth {
  font-size: 1rem;
  margin-bottom: -20px;
  color: rgba(190, 190, 190, 0.8);
  cursor: context-menu;
}

body #info_container {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 60%;
}

body #info_container .info {
  position: relative;
  text-align: center;
  margin: auto;
  width: 25%;
  height: auto;
  color: white;
  background-color: rgba(16, 15, 15, 0.364);
  padding: 10px;
  border-radius: 10px;
}

body #description {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: auto;
  top: 100%;
  text-align: center;
  color: #b5bfc2;
  font-size: 1rem;
  font-weight: bold;
  padding: 30px 10px 90px 10px;
  background-color: rgba(42, 43, 42, 0.5);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

body #support_button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 50%;
  background-color: rgba(190, 190, 190, 0.8);
  color: black;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #support_button:hover {
  background-color: lightyellow;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

body #support_wrapper {
  position: absolute;
  top: 0;
  text-align: center;
  background-color: rgba(16, 15, 15, 0.364);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #support_wrapper #support_container {
  position: absolute;
  text-align: center;
  width: 75%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: auto;
  padding: 40px;
  background-color: black;
  overflow-y: scroll;
}

body #support_wrapper #support_container .support {
  clear: left;
  position: relative;
  text-align: left;
  color: #68877b;
  line-height: 1.6;
}

body #support_wrapper #support_container .support a {
  color: lightblue;
  text-decoration: underline;
}

body #support_wrapper #support_container #tableBtn {
  position: relative;
  margin-top: 50px;
  padding: 20px;
  background-color: rgba(190, 190, 190, 0.8);
  color: black;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #support_wrapper #support_container #tableBtn:hover {
  background-color: lightyellow;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

body #arrow {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: rgba(42, 43, 42, 0.5);
  border: none;
  padding: 5px 25px;
  font-size: 1.25rem;
  color: white;
  outline: none;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

body #arrow:hover {
  background-color: #6d9e9e;
  cursor: pointer;
}

body #backBtn {
  position: absolute;
  top: 0;
  visibility: hidden;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

body #backBtn #backArrow {
  padding: 5px;
  width: 15%;
  height: auto;
  border-radius: 10px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #backBtn #backArrow:hover {
  background-color: #b5b5b5;
}

body #form {
  position: fixed;
  width: 100%;
  height: auto;
  top: 100%;
  text-align: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

body #form #container {
  position: relative;
  padding: 40px;
  background-color: rgba(42, 43, 42, 0.5);
}

body #form #container input[type=text] {
  border: none;
  font-size: 1.5rem;
  border-radius: 5px;
}

body #form #container #search {
  border: none;
  margin-left: 25px;
  padding: 20px;
  background-color: rgba(42, 43, 42, 0.5);
  color: white;
  border-radius: 5px;
  outline: none;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #form #container #search:hover {
  background-color: #b5b5b5;
  color: rgba(42, 43, 42, 0.5);
  cursor: pointer;
}

body #tabularDisplay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 15, 15, 0.364);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #tabularDisplay #close_tabularDisplay {
  position: absolute;
  top: 25%;
  right: 25%;
  margin: -5px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: rgba(190, 190, 190, 0.8);
  color: black;
  cursor: pointer;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}

body #tabularDisplay #close_tabularDisplay:hover {
  background-color: lightyellow;
  -webkit-box-shadow: 5px 5px 10px black;
          box-shadow: 5px 5px 10px black;
}

body #tabularDisplay #tabularContainer {
  position: absolute;
  top: 0;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 50%;
  max-height: 50%;
  margin: 10px auto;
  background-color: black;
  overflow-y: scroll;
}

body #tabularDisplay #tabularContainer #table {
  position: relative;
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
  color: #68877b;
  border: 2px solid #dee2e6;
}

body #tabularDisplay #tabularContainer #table thead {
  color: white;
}

body #tabularDisplay #tabularContainer #table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  padding: 0.75rem;
  text-align: inherit;
}

body #tabularDisplay #tabularContainer #table tbody tr:nth-of-type(odd) {
  background-color: rgba(16, 15, 15, 0.364);
}

body #tabularDisplay #tabularContainer #table tbody td {
  border: 2px solid #dee2e6;
  padding: 0.75rem;
  vertical-align: top;
}

body #tabularDisplay #mostWrapper {
  position: relative;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

body #tabularDisplay #mostWrapper #most {
  margin: 20px;
  text-align: left;
  color: white;
}

body #tabularDisplay #mostWrapper #chartContainer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 50%;
}

body #tabularDisplay #mostWrapper #chartContainer #mostSearched {
  position: relative;
  margin: 5px auto;
  text-align: center;
  background-color: rgba(16, 15, 15, 0.364);
}

body .err, body #support_wrapper .err {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  color: red;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}

/* width of the entire scrollbar */
#displayMonths::-webkit-scrollbar,
#support_container::-webkit-scrollbar,
#tabularContainer::-webkit-scrollbar {
  width: 12px;
}

/* color of the tracking area */
#displayMonths::-webkit-scrollbar-track,
#support_container::-webkit-scrollbar-track,
#tabularContainer::-webkit-scrollbar-track {
  border-radius: 20px;
  background: black;
}

#displayMonths::-webkit-scrollbar-thumb,
#support_container::-webkit-scrollbar-thumb,
#tabularContainer::-webkit-scrollbar-thumb {
  background-color: #68877b;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 2px solid black;
  /* creates padding around scroll thumb */
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 4vw;
  }
}
/*# sourceMappingURL=styles.css.map */